input:focus {
    outline:none;
}

#myTextbox {
	background-color: transparent;
	border: none;
	text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #70704c;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #70704c;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #70704c;
}