<meta property="og:title" content="Totally Science">
<meta property="og:site_name" content="Totally Science">
<meta property="og:url" content="">
<meta property="og:description" content="The best place for 'Learning Science!'">
<meta property="og:type" content="website">
<meta property="og:image" content="https://totallyscience.co/images/logo.png">
<meta charset="UTF-8">

<link rel="icon" href="images/logo.png">

<title>Totally Science</title>

<link rel="stylesheet" href="styles/main.css">

<script src = "/socket.io/socket.io.js"></script>

<!--Google Adsense-->
<script data-ad-client="ca-pub-3486863589051210" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>