<!DOCTYPE html>
<html>
    <head>
        include includes/head.pug
        <link rel="stylesheet" href="styles/games.css">
    </head>

    <body>
        include includes/navbar.pug

        <div class="categories">
            <button name="all" onclick="switchTopic(event)" class="selectedCategory categoryButton not-selectable">All</button>
            <button name="new" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">New<span><img onclick="switchTopic(event)" id="bolt" src="icons/boltcategory.svg"></span></button>
            <button name="2" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">2 Player</button>
            <button name="car" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Car</button>
            <button name="card" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Card</button>
            <button name="sport" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Sport</button>
            <button name="stickmin" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Stickman</button>
            <button name="hard" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Hard</button>
            <button name="flash" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Flash</button>
            <button name="multiplayer" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Multiplayer</button>
            <button name="horror" onclick="switchTopic(event)" class="unselectedCategory categoryButton not-selectable">Horror</button>
        </div>

        <div class="search-bar" onkeyup="search(event);" style="margin-top: 25px; margin-left: 50%; transform: translate(-50%); text-align: center;">
            <input type="text" name="search" value="" autocomplete="off" id="searchBar" placeholder="Search">
        </div>

        <section id="games">

        </section>

        <p id="load-games" onclick="displayGames();">Load more games</p>

        <div id="requestButton">
            <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLScE3iMUBIrw4kULGC-kSeGN3WbB_AmDCG9OG6OQxxisDDAx1w/viewform');">Request a Game</button>
        </div>

        <div align="center">
            include includes/horizontalAd.pug
        </div>

        <div id="fixedAd" style="top: 50%; margin-left: 2%; position: absolute; float: left;">
            include includes/verticalAd.pug
        </div>

        <script src="scripts/classes.js"></script>
    </body>
</html>