<!DOCTYPE html>
<html lang="en">
    <head>
        include includes/head.pug
        <link rel="stylesheet" href="styles/leaderboard.css">
    </head>

    <body>
        include includes/navbar.pug

        <button onclick="window.open('./submithighscore', '_self');">Submit a Highscore</button>
        <br><br>
        <table id="scores">
            <tr>
                <th>Game</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </table>
        <br><br><br><br>
        

        <script src="scripts/leaderboard.js"></script>
    </body>
</html>