<!DOCTYPE html>
<html lang="en">
    <head>
        include includes/head.pug
        <link rel="stylesheet" href="styles/partners.css">
    </head>

    <body>
        include includes/navbar.pug

        <section id="privacyText">
            <h1 id="mainText">Our Partners</h1>
            <div class="partner" onclick="window.open('https://ubg100.github.io/')">
                <div class="shadow">
                    <h1>UBG100</h1>
                    <img width="100vw" src="https://ubg100.gitlab.io/assets/img/socials/ubg100.png">
                    <div id="textDiv">
                        <p>We're a hub for the best games on the internet, all available for free! There is so much for you to choose from.<br>
                            <br> - Flash games <br>- Emulated games <br>- Unity games <br>- HTML5 games <br><br>Got a game you want to see? Join our Discord and make a suggestion! <br>What are you waiting for? </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="partner" onclick="window.open('https://www.sealcentral.gq/')">
                <div class="shadow">
                    <h1>Seal Central</h1>
                    <img width="100vw" src="https://yt3.ggpht.com/dfI8DwQ4wXrGuS9o_y7fbotRskCuOPMCK6IWaPWreXK9SdxQf3hpQhhZ3FgayvfQBXgXQWho=s900-c-k-c0x00ffffff-no-rj">
                    <p>SealCentral is a google site based unblocked games website. We are the first to do everything that most unblocked website don't know was possible. We also have a good collection of proxied multiplayers game, fnf mods, and also host our
                        own mc server that you can play in your server. We are currently sitting at 100k+ visits as of Jan 2022.</p>
                </div>
            </div>

        </section>

        <script defer src="scripts/main.js"></script>
    </body>
</html>