/* // READY */

body {
    color: var(--light-color);
}

#survey {
    text-align: center;
    margin-top: 25px;
}

#survey div {
    padding-bottom: 2vh;
}

#survey label {
    font-size: 1.75vw;
}

#survey input,
#survey select {
    font-family: 'Rubik';
    margin: auto;
    margin-top: 10px;
    width: 20vw;
    height: 50px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    padding: 1vh 1vw 1vh 1vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3vh;
    color: var(--dark-color);
}

#survey button {
    font-size: 30px;
    padding: 20px;
    color: var(--light-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 40px;
    margin-bottom: 2%;
    cursor: pointer;
}

#resEmail {
    text-align: center;
    cursor: pointer;
}

#resEmail:hover {
    color: var(--accent-color);
}