body {
    color: var(--dark-color);
}

#joinChat {
    margin-top: 120px;
    width: 100vw;
    text-align: center;
    margin-bottom: 40vh;
}
#joinChat button {
    margin-bottom: 30px;
}

#messageinput {
    padding: 15px;
    width: 220px;
    border: none;
    border-radius: 10px;
    margin-left: 50%;
    outline: none;
    background-color: var(--light-color);
    transform: translate(-50%);
    margin-top: 10px;
    transform: none;
    bottom: 10px;
    left: 100px;
    margin-left: 0;
    position: fixed;
    width: calc(100% - 200px);
}

#chat {
    margin-bottom: 100px;
}

ul {
    margin-top: 150px;
    margin-left: 200px;
    height: 50vh;
    font-family: 'Rubik';
    line-height: 30px;
    color: var(--light-color);
    word-break: break-all;
    list-style-type: none;
}

li:nth-child( odd ) {
    background-color: var(--dark-accent);
}

.span {
    position: absolute;
    left: 10px;
}

#username {
    margin-top: 150px;
}

#leavebtn {
    transform: none;
    bottom: 10px;
    padding: 12px;
    background-color: var(--accent-color);
    left: 10px;
    border-radius: 10px;
    margin-left: 0;
    position: fixed;
    width: 80px;
    font-size: 18px;
}