html {
    overflow-x: hidden;
}

#startcontent {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    top: 2vh;
}

.stroke-text {
    --stroke-color: var(--accent-color);
    --stroke-width: 4px;
    letter-spacing: var(--stroke-width);
    color: var(--light-color);
    text-shadow: var(--stroke-width) 0 0 var(--stroke-color), calc(var(--stroke-width) * -1) 0 0 var(--stroke-color), 0 var(--stroke-width) 0 var(--stroke-color), 0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color);
}


/*#endregion*/


/*#region animation for feature*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.25s;
    animation-name: fade;
    animation-duration: 1.25s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/*#endregion*/


/*#region suggested games*/

#scisuggests {
    margin-top: 20vh;
    margin-right: 3vw;
    float: right;
    width: 40vw;
    height: 50vh;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 2vw;
    padding: 10px;
}

#scisuggests img {
    width: 13vw;
    height: 13vh;
    border-radius: 30px;
    transition: all 0.1s;
}

#scisuggests img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1262px) {}


/*#endregion*/

#info {
    font-size: 30px;
    text-align: center;
}

#info p {
    color: var(--light-color);
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}

#startcontent {
    display: flex;
    flex: 1;
    padding: 2vw;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

#feature {
    margin-top: 9%;
    display: flex;
    flex: 2;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.imageTest {
    border: 3px solid var(--accent-color);
    display: flex;
    padding-left: 5%;
    flex: 1;
    width: 700px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageTest h1 {
    font-size: 100px;
}

.arrows {
    position: absolute;
    display: flex;
    flex: 1;
    color: white;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 1000px;
    margin-right: 50px;
}

.arrows img {
    width: 50px;
    height: 80px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.1s;
}

.arrows img:hover {
    opacity: 1;
}

#scisuggests {
    display: flex;
    flex: 1.3;
    align-content: center;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
}

@media screen and (max-width: 1450px) {
    #scisuggests {
        display: none;
    }
    #features {
        margin-top: 2vh;
    }
    .imageTest {
        max-width: 80%;
        max-height: 50%;
    }
}


/*#region categories + seach*/

#searchcat {
    z-index: 1;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--background-color);
    top: 60px;
    /**/
    margin-top: 10vh;
    width: 100vw;
    height: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    /*Flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#firstcatrow {
    width: 100vw;
    height: 5vh;
    /*Grid*/
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 1vw;
    justify-content: center;
    text-align: center;
}

#nextcatrow {
    margin-top: 2vh;
    width: 91vw;
    height: 5vh;
    /*Flex*/
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
}


/* searchbar */

input[type='text'] {
    /**/
    width: 20vw;
    height: 100%;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    background-image: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png');
    background-size: 1.25vw;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 1vh 1vw 1vh 2.2vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3%;
    color: var(--dark-color);
}


/* category selection */

.categoryButton {
    height: 100%;
    border: none;
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    font-family: 'Rubik';
    cursor: pointer;
    background-color: var(--accent-color);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.categoryButton span {
    font-size: 1.7vw;
}


/*@media (min-width: 1200px) {
    .categoryButton {
        font-size: 1.25vw;
    }
    .categoryButton span {
        font-size: 1.7vw;
    }
}*/

.selectedCategory {
    opacity: 1;
}

.unselectedCategory {
    opacity: 0.45;
}


/*#endregion*/


/*#region games*/

#games {
    padding: 2%;
    /* z-index: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 3vw;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh; */
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    /* 304 x 162  */
}

#gameDiv {
    min-width: 225px;
    max-width: 225px;
    max-height: 120px;
    min-height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 15vw;
    height: 15vh; */
    border-radius: 30px;
    text-align: center;
    transition: 0.1s;
}

#gameDiv input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#gameDiv:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#gameDiv {
    position: relative;
}

#gameDiv .innerGameDiv {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9vw;
    font-family: 'Rubik';
    font-weight: 700;
    color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

#gameDiv:hover div {
    visibility: visible;
    opacity: 1;
    text-shadow: var(--dark-color) 1px 0 10px;
}


/*#endregion*/


/*#region extracategories*/

#extraCategories {
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 4vw;
    justify-content: center;
    text-align: center;
}

#extraCategory {
    width: 15vw;
    height: 30vh;
    border-radius: 30px;
    transition: 0.1s;
}

#extraCategory:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#extraCategory div {
    border-radius: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-color: aqua;
}

#extraCategory img {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
}

#extraCategory p {
    margin-top: 0%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--light-color);
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
    background-color: var(--accent-color);
}


/*#endregion*/