html {
    overflow-x: hidden;
}

#pointsbar {
    margin-top: 100px;

    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#pointsbar .timerText {
    margin-left: 4%;
    align-self: flex-start;
    color: var(--light-color);
}

#pointsbar .backbar {
    width: 93%;
    height: 4vh;
    background-color: #8b1299;
    position: relative;
    border-radius: 15px;
}

#pointsbar .backbar .bar {
    position: absolute;
    background-color: var(--accent-color);
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#pointsbar .backbar .dayCon {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: var(--light-color);
    font-size: 1.1rem;
}

#pointsbar .backbar .dayCon img {
    width: 75px;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(172, 255, 47));
    animation: shadow-animation 2s ease-in-out infinite;
}

@keyframes shadow-animation {
    0% {
        -webkit-filter: drop-shadow(0px 0px 7px rgb(172, 255, 47));
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 15px rgb(172, 255, 47));
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 7px rgb(172, 255, 47));
    }
}

#startcontent {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.stroke-text {
    --stroke-color: var(--accent-color);
    --stroke-width: 4px;
    letter-spacing: var(--stroke-width);
    color: var(--light-color);
    text-align: center;
    justify-content: center;
    align-content: center;
    text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
        calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
        0 var(--stroke-width) 0 var(--stroke-color),
        0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.smooth-16 {
    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
            var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
            var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
            var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
            var(--stroke-color),
        calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
            var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827)
            0 var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071)
            0 var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239)
            0 var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
            var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
            var(--stroke-color);
}

#gameDiv {
    min-width: 225px;
    max-width: 225px;
    max-height: 120px;
    min-height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 15vw;
    height: 15vh; */
    border-radius: 30px;
    text-align: center;
    transition: 0.1s;
}

#gameDiv input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#gameDiv:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#gameDiv {
    position: relative;
}

#gameDiv .innerGameDiv {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9vw;
    font-family: 'Rubik';
    font-weight: 700;
    color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

#gameDiv:hover div {
    visibility: visible;
    opacity: 1;
    text-shadow: var(--dark-color) 1px 0 10px;
}

/*#endregion*/

/*#region animation for feature*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.25s;
    animation-name: fade;
    animation-duration: 1.25s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/*#endregion*/

/*#region suggested games*/

#scisuggests {
    margin-top: 10px;

    display: flex;
    flex: 1.2;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: flex-end;
}

#scisuggests img {
    width: 13vw;
    height: 13vh;
    border-radius: 30px;
    transition: all 0.1s;
}

#scisuggests img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1262px) {
}

/*#endregion*/

#info {
    display: flex;
    flex: 1;
    font-size: 30px;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

#info p {
    margin: 10px;
    color: var(--light-color);
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}

#info p img {
    position: absolute;
    margin-top: 7px;
    margin-left: 5px;
}

#feature {
    display: flex;
    flex: 2;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.featureSlot {
    position: relative;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    border: 3px solid var(--accent-color);
    border-radius: 40px;

    height: 50vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#feature .featureSlot .overlay {
    position: absolute;
    width: 105%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#feature .featureSlot .overlay .arrow {
    width: 50px;
    height: 80px;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.1s;
}

#feature .featureSlot .overlay .arrow:hover {
    opacity: 1;
    transform: scale(1.05);
}

#feature .featureSlot .overlay .gametext {
    font-size: 3.5vw;
}

.featureButton {
    position: absolute;
    margin-top: 275px;
}

@media screen and (max-width: 1150px) {
    #scisuggests {
        flex: 20;
        align-content: center;
        justify-content: center;
        margin-top: 0;
    }
    #feature {
        display: none;
    }
}

/*#region categories + seach*/

#searchcatParent {
    margin-bottom: 5vh;
}

#searchcat {
    z-index: 1;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--background-color);
    top: 60px;
    /**/
    margin-top: 5vh;
    width: 100vw;
    height: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    /*Flex*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#firstcatrow {
    width: 100vw;
    height: 5vh;
    /*Grid*/
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 1vw;
    justify-content: center;
    text-align: center;
}

#nextcatrow {
    margin-top: 2vh;
    width: 91vw;
    height: 5vh;
    /*Flex*/
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    justify-content: center;
}

/* searchbar */

input[type='text'] {
    /**/
    width: 20vw;
    height: 100%;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    background-image: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png');
    background-size: 1.25vw;
    background-position: 10px calc(50%);
    background-repeat: no-repeat;
    padding: 1vh 1vw 1vh 2.2vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3%;
    color: var(--dark-color);
}

/* category selection */

.categoryButton {
    height: 100%;
    border: none;
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    font-family: 'Rubik';
    cursor: pointer;
    background-color: var(--accent-color);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 20px;
    transition: opacity 0.3s ease;
}

.categoryButton span {
    font-size: 1.7vw;
}

/*@media (min-width: 1200px) {
    .categoryButton {
        font-size: 1.25vw;
    }
    .categoryButton span {
        font-size: 1.7vw;
    }
}*/

.selectedCategory {
    opacity: 1;
}

.unselectedCategory {
    opacity: 0.45;
}

/*#endregion*/

/*#region games*/

#games {
    padding: 2%;
    /* z-index: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 3vw;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh; */
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    /* 304 x 162  */
}

#gameDiv {
    min-width: 225px;
    max-width: 225px;
    max-height: 120px;
    min-height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 15vw;
    height: 15vh; */
    border-radius: 30px;
    text-align: center;
    transition: 0.1s;
}

#gameDiv input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#gameDiv:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#gameDiv {
    position: relative;
}

#gameDiv .innerGameDiv {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-family: 'Rubik';
    font-weight: 700;
    color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear;
    transition: visibility 0s, opacity 0.2s linear;
}

#gameDiv:hover div {
    visibility: visible;
    opacity: 1;
    text-shadow: var(--dark-color) 1px 0 10px;
}

#gameDiv:hover > #gamelock {
    opacity: 1;
    top: -10%;
}

#pin {
    position: absolute;
    top: -10%;
    left: 85%;
    border: none;
    background-color: transparent;
    transition: all 0.1s;
    cursor: pointer;
}

#pin:hover {
    transform: scale(1.1);
}

#pin img {
    width: 40px;
    height: 40px;
}

#gamelock {
    position: absolute;
    top: 5%;
    left: 32%;
    border: none;
    background-color: transparent;
    transition: all 0.1s;
    cursor: pointer;
    opacity: 0.8;
}

#gamelock:hover {
    transform: scale(1.05);
}

#gamelock img {
    width: 80px;
    height: 100px;
}

#newbanner {
    position: absolute;
    top: -5%;
    left: -5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#newbanner img {
    width: 80px;
    height: 80px;
}

/*#endregion*/

/*#region extracategories*/

#extraCategories {
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 4vw;
    justify-content: center;
    text-align: center;
}

#extraCategory {
    width: 15vw;
    height: 30vh;
    border-radius: 30px;
    transition: 0.1s;
}

#extraCategory:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#extraCategory div {
    border-radius: 30px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#extraCategory img {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
}

#extraCategory p {
    margin-top: 0%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: var(--light-color);
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
    background-color: var(--accent-color);
}

/*#endregion*/

#noSearch {
    text-align: center;
    margin-bottom: 10vh;
    margin-top: -10vh;
}

#noSearch p {
    color: var(--light-color);
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
}

#about {
    color: var(--light-color);
    padding-left: 25%;
    padding-right: 25%;
    line-height: 25px;
}

#about span {
    color: var(--accent-color);
}

#about h2 {
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 200;
}

/*Daily reward popup css */

#dailyRewardPopup {
    position: fixed;
    top: 50%;
    right: 50%;
    background-color: #8b1299;
    z-index: 100;
    transform: translate(50%, -50%);
    width: 500px;
    height: 600px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

    color: var(--light-color);
}

#dailyRewardPopup h1 {
    font-style: italic;
    font-size: 2.5rem;
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 2%;
}

#dailyRewardPopup .timerCon {
    width: 80%;
    height: 7%;
    border-radius: 15px;
    background-color: var(--accent-color);
    box-shadow: 0px 10px 10px #00000042;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dailyRewardPopup .timerCon p {
    font-size: 1.3rem;
}

#dailyRewardPopup .points {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin-top: 5%;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(0, 0, 0));
}

#dailyRewardPopup .days {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

#dailyRewardPopup .days .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#dailyRewardPopup .days .row div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dailyRewardPopup .days .row div p {
    margin: 0%;
}

#dailyRewardPopup .days .row div .circle {
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 10px 10px #00000042;
}

#dailyRewardPopup .days .row img {
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    z-index: 2;
}

#dailyRewardPopup .days .row div .treasure {
    position: absolute;
    width: 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    -webkit-filter: drop-shadow(0px 0px 15px rgb(172, 255, 47));
    animation: treasure-animation 1s ease-in-out infinite;
    z-index: 1;
}

@keyframes treasure-animation {
    0% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(172, 255, 47));
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 15px rgb(172, 255, 47));
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(172, 255, 47));
    }
}

#dailyRewardPopup button {
    margin-top: auto;
    box-shadow: 0px 10px 10px #00000042;
    margin-bottom: 30px;
}

#dailyRewardPopup .ignore {
    margin: 0%;
    margin-top: -15px;
    margin-bottom: 15px;
    cursor: pointer;
    opacity: 0.8;
}
