/* // READY */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');
:root {
    --light-color: #ffffff;
    --background-color: #1f0336;
    --dark-color: #000000;
    --accent-color: #f75dfc;
    --dark-accent: #340060;
    --box-shadow-color: #ccc;
    --error-color: #cf1a32;
}

html {
    overflow-x: hidden;
    /* prevent highlight */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.error {
    color: var(--error-color);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
p,
p2,
a,
li,
label {
    font-family: 'Rubik', sans-serif;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: normal;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    z-index: 99;
}

.nav-button {
    float: left;
    padding-right: 1vw;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.nav-button a {
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 0.05rem;
    color: var(--light-color);
    white-space: nowrap;
}

#discord {
    display: flex;
    align-items: center;
    margin-right: 0.5vw;
}

#tiktok {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

#settings {
    display: flex;
    align-items: center;
}

#login {
    margin-top: 18px;
    margin-right: 0.5vw;
}

.selected a {
    border-bottom: 2px solid var(--light-color);
}

#leftbar {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding-left: 1vw;
}

#middlebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#middlebar h1 {
    font-family: 'Spline Sans', sans-serif;
    font-size: 30px;
    color: var(--light-color);
}

#rightbar {
    display: flex;
    justify-content: right;
    text-align: right;
    width: 100%;
    height: 100%;
    padding-right: 1vw;
}

#rightbar .searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    width: 230px;
}

#rightbar .searchbar p {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 125px;
    background-color: var(--light-color);
    border-radius: 7px;
    color: var(--dark-color);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}

#rightbar .points {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#rightbar .points p {
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--accent-color);
    border-radius: 7px;
    color: var(--light-color);
    white-space: nowrap;
}

#rightbar p {
    font-size: 17px;
}

#gp {
    background-color: #f75dfc;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: all 0.1s;
}

@media (max-width: 1050px) {
    #rightbar {
        display: none;
    }
    #middlebar {
        justify-content: right;
        margin-right: 20px;
    }
}

@media (max-width: 675px) {
    #middlebar {
        position: absolute;
        top: 0px;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    #navbar {
        height: 100px;
    }
    #leftbar {
        margin-top: 45px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
        padding-left: 2%;
    }
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scrollb {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

/*#region scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--dark-accent);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #bc47c0;
}

/*#endregion*/

/*#region Footer */
footer {
    margin-top: 18vh;
    position: relative;
    z-index: 9999;
    width: 100vw;
    height: 25vh;
    background-color: #1c1c1c;
}

footer .footSections {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0vw;
    justify-content: center;
    text-align: center;
}

footer .footSection {
    width: 25vw;
    height: 100%;
}

footer .teamFoot {
    font-size: 1vw;
    font-family: 'Rubik';
    color: var(--light-color);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1vw;
    justify-content: center;
    text-align: center;
}

footer h1 {
    font-size: 1.5vw;
}

footer h1,
footer p,
footer a {
    color: var(--light-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--accent-color);
}

footer .bottomFoot {
    text-align: center;
    color: var(--light-color);
    font-size: 0.8vw;
    font-family: 'Rubik';
}

/*#endregion*/

input[type='text'] {
    font-family: 'Rubik';
    margin: auto;
    width: 20vw;
    height: 5vh;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    padding: 1vh 1vw 1vh 1vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3vh;
    color: var(--dark-color);
}

input[type='file'] {
    font-family: 'Rubik';
    margin: auto;
    width: 20vw;
    height: 5vh;
    background-color: var(--light-color);
    border: transparent;
    border-radius: 17px;
    color: var(--dark-color);
    box-sizing: border-box;
    outline: none;
    font-size: 1vw;
    margin-bottom: 4vh;
    padding: 1vh 1vw 1vh 1vw;
    box-sizing: border-box;
    margin-bottom: 3vh;
    transition: width 0.4s ease-in-out;
}

select {
    font-family: 'Rubik';
    margin: auto;
    width: 20vw;
    height: 5vh;
    box-sizing: border-box;
    border: transparent;
    border-radius: 17px;
    font-size: 1vw;
    background-color: var(--light-color);
    outline: none;
    padding: 1vh 1vw 1vh 1vw;
    transition: width 0.4s ease-in-out;
    margin-bottom: 3vh;
    color: var(--dark-color);
}

.button {
    padding: 20px 30px 20px 30px;
    height: auto;
    border: none;
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    font-family: 'Rubik';
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 20px;
    font-weight: 900;
    transition: opacity 0.3s ease;
    transition: transform 0.1s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button > img,
.button > span {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

.swal-text {
    font-family: 'Rubik';
}

#shopnav a {
    color: rgba(255, 255, 255, 0.5);
}

#shusheomji img {
    width: 35px;
}

#searchbar {
    width: 20px;
    height: 15px;
    background-color: #333;
}

/*Tool tip!*/

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: 0.9em; /* opinion 3 */
    line-height: 0.7;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 4px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */

    /* most of the rest of this is opinion */
    font-family: Rubik;
    text-align: center;

    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 0.3ch;
    box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^='up']::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^='up']::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^='up']::before,
[tooltip][flow^='up']::after {
    left: 50%;
    transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip][flow^='down']::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}
[tooltip][flow^='down']::after {
    top: calc(100% + 5px);
}
[tooltip][flow^='down']::before,
[tooltip][flow^='down']::after {
    left: 50%;
    transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */
[tooltip][flow^='left']::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-0.5em, -50%);
}
[tooltip][flow^='left']::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^='right']::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(0.5em, -50%);
}
[tooltip][flow^='right']::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(0.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: 0.9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: 0.9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^='up']:hover::before,
[tooltip][flow^='up']:hover::after,
[tooltip][flow^='down']:hover::before,
[tooltip][flow^='down']:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^='left']:hover::before,
[tooltip][flow^='left']:hover::after,
[tooltip][flow^='right']:hover::before,
[tooltip][flow^='right']:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

/* end tool*/
