#nameheader {
    margin-top: 80px;
    text-align: center;
    color: var(--light-color);
    font-size: 1.5vw;
    font-family: 'Rubik';
}

#accountoptions {
    margin-top: 150px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.accountoption {
    width: 100%;
    display: flex;
    gap: 1vw;
    margin-left: 43%;
}

.accountoption input {
    width: 1%;
    height: 1%;
}

.accountoption p {
    margin: 0%;
    margin-bottom: 1.25vh;
    color: var(--light-color);
    font-weight: 900;
    font-size: 1vw;
    font-family: 'Rubik';
}

.accountoption p .span {
    font-weight: 100;
}

#highscores {
    margin-top: 12vh;
}

#highscores {
    margin-left: 3vw;
}
.label {
    font-size: 1.5vw;
    font-family: 'Rubik';
    color: var(--light-color);
}

.highcontainer {
    width: 100vw;
    height: 200px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 15px;
    gap: 2vw;
    margin-right: 4vw;
    margin-bottom: 5vh;
}

.highcontainer p {
    color: var(--light-color);
}

.highscore {
    background-color: #340060;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.1s;
    cursor: pointer;
}

.highscore:hover {
    transform: scale(1.05);
}

.highscore h1,
.highscore p {
    margin: 0;
}

.highscore img {
    width: 70px;
    margin-bottom: 1vh;
}

.highscore h1 {
    font-size: 20px;
    font-family: 'Rubik';
    color: var(--light-color);
    margin-bottom: 0.5vh;
}

.highscore p {
    font-size: 20px;
    font-family: 'Rubik';
    color: var(--light-color);
    text-shadow: var(--dark-color) 1px 0 10px;
}

#arrow {
    align-self: center;
    min-width: 225px;
    max-width: 225px;
    max-height: 120px;
    min-height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    text-align: center;
    transition: 0.1s;
    display: flex;
    align-items: center;
}

#arrow input {
    min-width: 50px;
    max-width: 50px;
    max-height: 75px;
    min-height: 75px;
    border-radius: 30px;
    transition: 0.1s;
}

#arrow input:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.logout {
    color: red;
    opacity: 0.9;
    text-align: center;
    cursor: pointer;
}

.logout:hover {
    opacity: 1;
}

#gameDiv:hover > button {
    opacity: 1;
    top: -10%;
}
