html {
    overflow-x: hidden;
}

#mainBody {
    margin-top: 5%;
}

@media screen and (max-width: 680px) {
    #mainBody {
        margin-top: 20%;
    }
}

.gamepass-header {
    display: flex;
    flex: 1;
    padding: 15px;
    background-color: #340060;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gamepass-header h1 {
    color: white;
    font-family: 'Rubik';
    font-style: normal;
}

.details-container {
    text-align: center;
    color: white;
}

h2 {
    color: var(--light-color);
    font-size: 1.25vw;
    font-family: 'Rubik';
    font-weight: 100;
}

p {
    color: var(--light-color);
    font-size: 1vw;
    font-family: 'Rubik';
}

#payment-container {
    /*position: relative;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 15%;*/
    display: flex;
    background-color: #340060;
    justify-content: center;
    align-items: center;
}

.payment {
    /*position: absolute;
    width: 30vw;
    right: 50%;
    transform: translateX(50%);*/
    background-color: aliceblue;
}

.buttons-container {
    width: 100vw;
}

.paypal-button-container {
    width: 100vw;
}

#mobileContainer {
    position: absolute;
    width: 100vw;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
}

#mobileContainer p {
    color: rgb(190, 190, 190);
}

.apple-button {
    padding: 20px 30px 20px 30px;
    width: 30vw;
    height: 7vh;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Rubik';
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    font-weight: 900;
    transition: opacity 0.3s ease;
    transition: transform 0.1s ease;
}

.apple-button img {
    width: 5vw;
}