#game {
    margin-top: 80px;
    width: 100%;
    height: 85vh;
    margin-bottom: 150px;
}

#gameDiv {
    width: 100%;
    height: 100%;
    text-align: center;
}

#gameDiv iframe {
    width: 75vw;
    height: 100%;
    border: 4px solid var(--accent-color);
    border-radius: 20px;
    margin-bottom: 0%;
    resize: vertical;
}

#game button {
    cursor: pointer;
    background-color: transparent;
    border: 4px solid var(--accent-color);
    border-radius: 20px;
    margin-left: calc(12.5vw - 12px);
    margin-top: 15px;
    padding: 10px;
    padding-bottom: 8px;
}

#game button img {
    height: 30px;
}

#report {
    margin-top: 15%;
    font-size: 2vw;
    margin-left: 2%;
    text-align: center;
}

#report button {
    font-size: 2vw;
    width: 15%;
    height: 60px;
    color: var(--light-color);
    background-color: var(--accent-color);
    border: 0px;
    border-radius: 10px;
    margin-bottom: 2%;
    cursor: pointer;
}

@media (max-width: 600px) {
    #game {
        margin-top: 100px;
    }
}

#desc {
    margin-top: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 80px 200px;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    padding: 20px 0;
    font-size: 30px;
}

.grid-container .mainText {
    text-align: center;
    font-family: 'Spline Sans', sans-serif;
    font-size: 4vw;
    margin-bottom: 1%;
    margin-top: 0%;
}

.grid-container .subText {
    text-align: left;
    font-size: 2vw;
    margin-left: 15%;
}

.iframeloader {
    background: url(../icons/loadinggif.gif) center center no-repeat;
    background-size: 5vw;
}