#game {
  margin-top: 80px;
  width: 100%;
  height: 550px;
  margin-bottom: 5%;
}

#gameDiv {
  width: 100%;
  height: 100%;
  text-align: center;
}

#gameDiv iframe {
  width: 75%;
  height: 100%;
  border: 4px solid #f75dfc;
  border-radius: 20px;
  margin-bottom: 0%;
}

#description {
  width: 100%;
  height: 50%;
}

.descriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionDiv div {
  text-align: center;
  width: 50%;
}

.descriptionDiv p {
  font-family: "Spline Sans", sans-serif;
  font-size: 4vw;
  margin-bottom: 1%;
}

.descriptionDiv p2 {
  font-family: "Rubik", sans-serif;
  font-size: 2vw;
  margin-left: 2%;
}

#report {
  margin-top: 15%;
  font-family: "Rubik", sans-serif;
  font-size: 2vw;
  margin-left: 2%;
  text-align: center;
}

#report button {
  font-size: 2vw;
  width: 15%;
  height: 60px;
  color: white;
  background-color: #f75dfc;
  border: 0px;
  border-radius: 10px;
  margin-bottom: 2%;
  cursor: pointer;
}

@media (max-width: 600px) {
  #game {
    margin-top: 100px;
  }
}